.manage-page-container {
 display: flex;
 justify-content: center;
}

.manage-team-container {
 display: flex;
 flex-direction: column;
}

.manage-team-text-container > h1 {
 margin-bottom: 40px;
}

.manage-team-text-container > p {
 line-height: 35px;
}

.manage-team-info-container {
 display: flex;
}

.manage-team-btns-container {
 display: flex;
 flex-direction: column;
 gap: 20px;
}

.manage-team-btns-container > button {
 width: 170px;
 border-radius: 20px;
 font-weight: bold;
}

.manage-team-btns-container > button:focus {
 box-shadow: none !important;
}

.go-to-edit-team-btn,
.go-to-team-page-btn {
 background-color: whitesmoke;
}

.go-to-edit-team-btn:hover,
.go-to-team-page-btn:hover {
 background-color: rgb(240, 240, 240);
}

.no-members {
 display: none;
}

.member-rows-container {
 display: flex;
 flex-direction: column;
}

.member-rows-container > h1 {
 text-align: center;
 margin-bottom: 20px;
}

.member-row {
 display: flex;
 justify-content: space-between;
 align-items: center;
 width: 550px;
 margin-bottom: 20px;
}

.member-row-info {
 display: flex;
 gap: 15px;
}

.member-row-info-text {
 display: flex;
 margin-top: 8px;
 gap: 10px;
}

.member-row-info-location {
 opacity: 0.7;
}

.add-member-profile-pic-container > .MuiAvatar-root {
 height: 100px;
 width: 100px;
}

.add-member-container,
.edit-team-info-container {
 display: flex;
 flex-direction: column;
 align-items: center;
 margin-top: 10px;
}

.add-member-container > .MuiIconButton-root,
.edit-team-info-container > .MuiIconButton-root {
 position: absolute;
 left: 3px;
 top: 70px;
}

.add-member-profile-pic-container {
 display: flex;
 flex-direction: column;
 align-items: center;
}

.add-member-profile-pic-container > input {
 margin-top: 10px;
 margin-left: 10px;
 width: 110px;
 color: #00000000;
}

.add-member-profile-pic-container > p {
 color: red;
 margin-top: 10px;
 margin-bottom: -10px;
}

.add-member-name-container,
.add-member-email-container,
.add-member-country-container,
.edit-team-name-container,
.delete-team-container {
 display: flex;
 flex-direction: column;
 align-items: center;
 margin-top: 15px;
}

.add-member-name-container > p,
.add-member-email-container > p,
.add-member-country-container > p,
.add-member-timezone-container > p,
.edit-team-name-container > p,
.delete-team-container > p {
 font-size: 12px;
 opacity: 0.7;
}

.add-member-name-container > input,
.add-member-email-container > input,
.edit-team-name-container > input {
 margin-top: -10px;
 border: 1px solid lightgray;
 border-radius: 15px;
 padding: 3px 0px 3px 10px;
 width: 200px;
}

.add-member-time-container {
 margin-top: 40px;
}

.add-member-country-container > p {
 margin-bottom: 25px;
}

.add-member-country-container > select,
.add-member-timezone-container > select {
 margin-top: -10px;
 border: 1px solid lightgray;
 border-radius: 15px;
 padding: 3px 0px 3px 10px;
 width: 420px;
}

.add-member-timezone-container {
 margin-top: 10px;
}

.add-member-timezone-container > p {
 text-align: center;
}

.save-member-btn {
 margin-top: 20px;
 padding-left: 20px;
 padding-right: 20px;
 font-weight: bold;
}

.edit-team-name-container {
 margin-top: 10px;
 margin-bottom: 40px;
}

.change-team-name-btn {
 width: 130px;
 border-radius: 20px;
 background-color: whitesmoke;
 margin-top: 20px;
 font-weight: bold;
}

.change-team-name-btn:focus {
 box-shadow: none !important;
}

.change-team-name-btn:hover {
 background-color: rgb(240, 240, 240);
}

.delete-team-container {
 border: 1px solid red;
 margin: 0px 100px 0px 100px;
 padding: 15px 30px 15px 30px;
}

.delete-team-btn {
 font-weight: bold;
}

@media screen and (max-width: 425px) {

 .manage-team-text-container > p {
  padding: 0px 15px 0px 15px;
 }

 .manage-team-members-container {
  margin-top: -20px;
 }

 .add-member-country-container > select,
 .add-member-timezone-container > select {
  width: 300px;
 }

 .member-row-info {
  margin-left: 10px;
  margin-top: 5px;
 }

 .member-row-info-text {
  margin-top: 10px;
 }

 .delete-team-container {
  margin: 0px 50px 0px 50px;
  padding: 25px 30px 25px 30px;
 }

 .delete-team-container > p {
  text-align: center;
 }

}

@media screen and (max-width: 1016px) {

 .manage-page-container {
  align-items: center;
  margin-top: 20px;
 }
 
 .manage-team-info-container {
  flex-direction: column;
  margin-bottom: 30px;
 }
 
 .manage-team-text-container {
  margin-bottom: 50px;
  text-align: center;
 }

 .member-row {
  width: 100%;
 }

 .manage-team-btns-container {
  align-items: center;
  margin-bottom: 20px;
 }

}

@media screen and (min-width: 1017px) {

 .manage-team-container {
  margin-top: 20px;
  margin-left: 50px;
 }

 .manage-team-text-container {
  margin: 30px 150px 20px 0px;
 }

 .member-rows-container {
  margin-top: 30px;
 }

}