.no-members {
 text-align: center;
}

.team-members-container {
 display: flex;
 justify-content: center;
 flex-wrap: wrap;
 gap: 30px;
 margin-top: 20px;
}

.team-navbar-header {
 font-family: "Lato", sans-serif;
}

.team-navbar-name {
 margin-top: 7px;
}

.team-navbar-menu {
 text-align: center;
 margin-right: 25px;
}

@media screen and (max-width: 425px) {
 
 .team-navbar-name {
  font-size: 18px;
  padding-left: 4.2px;
 }

 .no-members {
  margin-top: 140px;
  padding: 0px 10px 0px 10px;
 }

}