.time-zone-container {
 display: flex;
 flex-direction: column;
}

.time-container {
 display: flex;
 flex-direction: column;
 text-align: center;
}

.time-element {
 font-size: 25px;
}

.offset-element {
 font-size: 18px;
}

.members-container {
 display: flex;
 flex-direction: column;
}

.member-container {
 display: flex;
 flex-direction: column;
 margin-bottom: 25px;
}

.member-container > .MuiAvatar-root {
 border-radius: 50px;
 height: 100px;
 width: 100px;
}

.member-info {
 display: none;
}

.member-container > .MuiAvatar-root:hover + .member-info {
 display: flex;
 flex-direction: column;
 text-align: center;
 z-index: 1;
 background-color: white;
 position: absolute;
 margin-top: 65px;
 margin-left: 1.1px;
 width: 100px;
}

.member-info > h4 {
 font-size: 20px;
 word-wrap: break-word;
}

.member-info > h5 {
 font-size: 15px;
 opacity: 0.7;
 word-wrap: break-word;
}